{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <h2>Edit Post</h2>
    <div>
    <form action="/save" method="post">
      <label for="user">Author: </label><br>
      <input type="text" name="user" readonly="true" value="{{ entry.user }}"></input><br><br>
      <label for="user">Title: </label><br>
      <input type="text" name="title" value="{{ entry.title }}"></input><br><br>
      <label for="user">Content: </label><br>
      <textarea name="content" rows=10 cols=50 value="{{ entry.content }}">{{ entry.content }}</textarea>
      <input type="text" name="timeEntry" hidden="true" value="{{ entry.timeEntry }}"></input>
      <input type="text" name="id" hidden="true" value="{{ entry.id }}"></input><br>
      {% if entry.publish == 'yes' %}
      <input type="radio" name="publish" value="yes" checked>Publish Edits</input><br>
      <input type="radio" name="publish" value="no">Save For Later</input><br>
      {% else %}
      <input type="radio" name="publish" value="yes">Publish Edits</input><br>
      <input type="radio" name="publish" value="no" checked>Save For Later</input><br>
      {% endif %}
      <input type="submit" value="Submit"></input><br><br>
    </form>
    <form action="/dashboard" method="post">
        <input type="submit" value="Cancel"></input>
    </form>
    </div>
{% endif %}
{% endblock %}