{% extends "layout.html" %}
{% block body %}
  <h2>Blog Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div>
      <h2 align="center" style='font-family: arial'>Blog Login</h2>
    </div>
    {% if error %}<p class=error><b>Error:</b> {{ error }}{% endif %}
    <div class="login" align="center">
      <input type="text" placeholder="Username" id="username">  
      <input type="password" placeholder="Password" id="password">
    <form action="/dashboard" method="post">
      <input type="submit" value="Sign In">
    </form>
    </div>
  </body>
</html> -->